[tool.ruff]
line-length = 120
preview = true

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I", "E3"]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 120

[tool.black]
line-length = 120
