on:
  workflow_call:
    inputs:
      style-branch:
        type: string
        default: master
      continue-on-error:
        type: boolean
        default: false
      run-flake8:
        type: boolean
        default: true
      run-ruff:
        type: boolean
        default: false
      run-typecheck:
        type: boolean
        default: true
      run-ty:
        type: boolean
        default: false
      files:
        type: string
      flake8_extend_ignore: # list of comma separated flake8 error codes
        type: string
      ruff-config-overrides:
        type: string
    outputs:
      passed-lint:
        value: ${{ jobs.lint.outputs.passed }}
      passed-lint-ruff:
        value: ${{ jobs.lint-ruff.outputs.passed }}
      passed-typecheck:
        value: ${{ jobs.typecheck.outputs.passed }}
      passed-typecheck-ty:
        value: ${{ jobs.typecheck-ty.outputs.passed }}

jobs:
  lint:
    runs-on: ubuntu-latest
    if: inputs.run-flake8
    outputs:
      passed: ${{ ! inputs.run-flake8 || steps.check.outputs.passed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Remove ignored paths
        run: find . -name .lint-ignore | xargs dirname | xargs rm -rf
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          architecture: x64
      - name: Install flake8 and plugins
        run: pip install --disable-pip-version-check flake8-black==0.4.0 flake8-isort==5.0.3
      - name: Install flake8-annotations
        if: inputs.run-typecheck
        run: pip install --disable-pip-version-check flake8-annotations==2.9.1
      - name: Run flake8
        id: check
        continue-on-error: ${{ inputs.continue-on-error }}
        run: |
          curl -LOJs --fail --show-error https://raw.githubusercontent.com/seqsense/ros_style/${{ inputs.style-branch }}/.flake8
          curl -LOJs --fail --show-error https://raw.githubusercontent.com/seqsense/ros_style/${{ inputs.style-branch }}/pyproject.toml

          extend_ignore="${{ inputs.flake8_extend_ignore }}"
          if [ -n "${extend_ignore}" ]; then
            sed -i "/^ignore/ s/$/, ${extend_ignore}/" .flake8
          fi

          cmd="flake8 --count --show-source --statistics"

          files_to_check="${{ inputs.files }}"
          if [ -z "${files_to_check}" ]; then
            files_to_check=$(find . -type f -not -path '*/\.git/*' -not -path '*/__pycache__/*' -not -path '*/\.mypy_cache/*')
          fi

          exit_code=0

          for file in ${files_to_check}; do
            filetype=$(file -b --mime-type ${file})
            if echo ${filetype} | grep -qE "text/x-python|text/x-script.python"; then
              echo "checking ${file}"
              ${cmd} ${file} \
                | sed 's|^\(\S\+\):\([0-9]\+\):\([0-9]\+\): \(.*\)$|::error file=\1,line=\2,col=\3::\4\n\0|'
              exit_code=$(($exit_code | ${PIPESTATUS[0]}))
            fi
          done

          if [ ${exit_code} -eq 0 ]; then
            echo "passed=true" >> ${GITHUB_OUTPUT}
          else
            echo "passed=false" >> ${GITHUB_OUTPUT}
          fi

          exit $exit_code

  lint-ruff:
    runs-on: ubuntu-latest
    if: inputs.run-ruff
    outputs:
      passed: ${{ ! inputs.run-ruff || (steps.check.outputs.passed == 'true' && steps.format-check.outputs.passed == 'true') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Remove ignored paths
        run: find . -name .lint-ignore | xargs dirname | xargs rm -rf
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          architecture: x64
      - name: Install ruff
        run: pip install --disable-pip-version-check ruff==0.14.13
      - name: Run ruff
        id: check
        env:
          RUFF_CONFIG_OVERRIDES: ${{ inputs.ruff-config-overrides }}
        continue-on-error: ${{ inputs.continue-on-error }}
        run: |
          curl -LOJs --fail --show-error https://raw.githubusercontent.com/seqsense/ros_style/${{ inputs.style-branch }}/pyproject.toml
          cmd=(
            ruff
            check
            --output-format=github
            "--config=${{ env.RUFF_CONFIG_OVERRIDES }}"
          )

          files_to_check="${{ inputs.files }}"
          if [ -z "${files_to_check}" ]; then
            files_to_check=.
          fi

          set +e
          "${cmd[@]}" ${files_to_check}
          exit_code=$?
          set -e

          if [ ${exit_code} -eq 0 ]; then
            echo "passed=true" >> ${GITHUB_OUTPUT}
          else
            echo "passed=false" >> ${GITHUB_OUTPUT}
          fi

          exit $exit_code
      - name: Run ruff format
        id: format-check
        if: success() || failure() # Run even if ruff check fails, but not on cancellation
        env:
          RUFF_CONFIG_OVERRIDES: ${{ inputs.ruff-config-overrides }}
        continue-on-error: ${{ inputs.continue-on-error }}
        run: |
          cmd=(
            ruff
            format
            --check
            --output-format=github
            "--config=${{ env.RUFF_CONFIG_OVERRIDES }}"
          )

          files_to_check="${{ inputs.files }}"
          if [ -z "${files_to_check}" ]; then
            files_to_check=.
          fi

          set +e
          "${cmd[@]}" ${files_to_check}
          exit_code=$?
          set -e

          if [ ${exit_code} -eq 0 ]; then
            echo "passed=true" >> ${GITHUB_OUTPUT}
          else
            echo "passed=false" >> ${GITHUB_OUTPUT}
          fi

          exit $exit_code

  typecheck:
    runs-on: ubuntu-latest
    if: inputs.run-typecheck
    outputs:
      passed: ${{ ! inputs.run-typecheck || steps.check.outputs.passed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Remove ignored paths
        run: find . -name .lint-ignore | xargs dirname | xargs rm -rf
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          architecture: x64
      - name: Install mypy
        run: pip install --disable-pip-version-check mypy==0.981
      - name: Run mypy
        id: check
        continue-on-error: ${{ inputs.continue-on-error }}
        run: |
          curl -LOJs --fail --show-error https://raw.githubusercontent.com/seqsense/ros_style/${{ inputs.style-branch }}/mypy.ini

          cmd="mypy --config-file mypy.ini --scripts-are-modules"

          files_to_check="${{ inputs.files }}"
          if [ -z "${files_to_check}" ]; then
            files_to_check=$(find . -type f -not -path '*/\.git/*' -not -path '*/__pycache__/*' -not -path '*/\.mypy_cache/*')
          fi

          python_files=()

          for file in ${files_to_check}; do
            filetype=$(file -b --mime-type ${file})
            if echo ${filetype} | grep -qE "text/x-python|text/x-script.python"; then
              python_files+=(${file})
            fi
          done
          echo "found ${#python_files[@]} python file(s)"

          if [ ${#python_files[@]} -eq 0 ]; then
            echo "passed=true" >> ${GITHUB_OUTPUT}
            exit 0
          fi

          echo "checking ${python_files[@]}"

          # install explicitly listed type stub packages
          if [ -f ".mypy-stub-pkgs" ]; then
            pip install -r .mypy-stub-pkgs
          fi

          # workaround to get mypy to figure out the types it should install
          # note that it does not upgrade already installed packages
          $(echo "${cmd} ${python_files[@]}") > /dev/null 2> /dev/null || true
          mypy --install-types --non-interactive

          output="$(${cmd} ${python_files[@]} | tee /dev/stderr)"
          result="$(echo "${output}" | tail -n 1)"

          echo "${output}" | sed -n 's|^\(\S\+\):\([0-9]\+\):\([0-9]\+\): error: \(.*\)$|::error file=\1,line=\2,col=\3::\4|p'

          if [[ -n "$result" ]]; then
            error="$(echo $result | awk '/^Found/{print $2}')"
            if [[ -z "$error" ]]; then
              echo "passed=true" >> ${GITHUB_OUTPUT}
              exit 0
            fi
          fi
          echo "passed=false" >> ${GITHUB_OUTPUT}
          exit 1

  typecheck-ty:
    runs-on: ubuntu-latest
    if: inputs.run-ty
    outputs:
      passed: ${{ ! inputs.run-ty || steps.check.outputs.passed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Remove ignored paths
        run: find . -name .lint-ignore | xargs dirname | xargs rm -rf
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          architecture: x64
      - name: Install ty
        run: pip install --disable-pip-version-check ty==0.0.16
      - name: Run ty
        id: check
        continue-on-error: ${{ inputs.continue-on-error }}
        run: |
          curl -LOJs --fail --show-error https://raw.githubusercontent.com/seqsense/ros_style/${{ inputs.style-branch }}/pyproject.toml

          files_to_check="${{ inputs.files }}"
          if [ -z "${files_to_check}" ]; then
            files_to_check=.
          fi

          set +e
          exit_code=0
          for f in $(find . -maxdepth 2 -name pyproject.toml); do
            dir=$(dirname "$f")
            files_to_check_in_dir=()
            if [[ "${files_to_check}" == "." ]]; then
              files_to_check_in_dir+=("$dir")
            else
              for file in "${files_to_check}"; do
                if [[ "$file" == "$dir"* ]]; then
                  files_to_check_in_dir+=("$file")
                fi
              done
            fi
            # If none of files_to_check is in this directory, skip
            if [ "${#files_to_check_in_dir[@]}" -eq 0 ]; then
              continue
            fi
            (cd "$dir" && ty check "${files_to_check_in_dir[@]}" --output-format=github)
            code=$?
            exit_code=$(($exit_code | $code))
          done
          set -e

          if [ ${exit_code} -eq 0 ]; then
            echo "passed=true" >> ${GITHUB_OUTPUT}
          else
            echo "passed=false" >> ${GITHUB_OUTPUT}
          fi

          exit $exit_code
